body {
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-image: url(bg.jpg);
  background-position: center ;
  background-size: cover;
  height: 100vh;  
  display: flex;
  align-items: center;
justify-content: center ;
  color: #fff;
}


header {
  background: linear-gradient(to right,  #bf474a, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),  #bf474a);
  color: #bf474a;
  text-align: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

header h1 {
  margin: 0;
}

header img {
  position: absolute;
  top: 10px;
  left: 30px;
  width: 60px;
  height: 60px;
}

#left-half,
#right-half {
  width: 70%;
}

#left-half {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  padding: 1px;
}

#right-half {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 50%;
}

table {
  border-collapse: collapse;
  width: 30%;
}

th, td {
  padding: 1px;
  text-align: center;
  border: 1px solid transparent; /* Set initial border to transparent */
  border-image: linear-gradient(to right, #bf474a, #000000) 1; /* Apply gradient border */
}

input,
textarea {
  width: calc(100% - 40px); /* Adjust the value based on your preference */
  padding: 10px;
  margin-bottom: 10px;
  background-color: #D9D9D9;
  border: 5px solid #BD00FF;
  border-radius: 5px;
  font-size: 16px;
}


button {
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  background: linear-gradient(to right, #000000, #bf474a, #000000);
  color: #ffffff;
  border: 2px solid #976b3e;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px #bf474a ;
}

button:active {
  transform: scale(1.1);
}

.button-container {
  display: flex;
  justify-content: left;
  margin-right: 20px;
}

.hover-click-button {
  display: inline-block;
  padding: 30px 50px;
  font-size: 25px;
  text-decoration: none;
  background-color: #5d00ff;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 150px;
  transition: transform 0.3s ease-in-out;
  margin: 5px;
}

.hover-click-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 50px;
  background: -moz-linear-gradient(red, green, yellow, blue);
}

.hover-click-button:active {
  transform: scale(1.1);
  box-shadow: #D9D9D9 0px 0px 10px;
}

.textbox-container {
  text-align: right;
  margin-top: 20px;
  margin-left: 20px;
}

.button-container-textbox {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
  transition: all 0.2s ease-in-out;
}

#content {
  text-align: center;
  margin-top: 50px;
}

textarea {
  resize: none;
}

.right-half-img {
  display: block;
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
  margin-right: 50px;
}
